@import "_resetcss";

body {
    min-height: 100vh;
    background: url(../img/background.png) center center/100% 100% no-repeat;
    font-family: Verdana;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    min-height: 55px;
    padding-left: 60px;
    padding-right: 75px;
    justify-content: space-between;

    &__logo {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    &__logo:hover {
        color: #3cb878;
    }

    &__link {
        margin-left: 25px;
    }
}
.nav {
    &_links {
        display: flex;
        text-decoration: none;
        color: #fff;
        font-family: Verdana;
        font-size: 14px;
    }
}
.welcome {
    position: relative;
    margin-left: 50px;
    ::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 20px;
        left: -25px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    color: #fff;
}

.link {
    color: #3cb878;
}
.link:hover {
    text-decoration: underline;
}

.main {
    padding-top: 65px;
}

.autorize {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 444px;
    min-height: 584px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px 60px;
    &::before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 30px;
        background-color: #3cb878;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        & span {
            font-size: 20px;
        }
    }

    &__buttonsGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        margin-top: 15px;

        #facebookBtn {
            background-color: #305db8;
            position: relative;

            ::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 28px;
                left: -18px;
                background-color: #fff;
                opacity: 0.1;
                top: -3px;
            }
        }
        #facebookBtn:hover {
            background-color: #264b96;
        }

        #googleBtn {
            background-color: #df4a32;
            position: relative;

            ::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 28px;
                left: -24px;
                background-color: #fff;
                opacity: 0.1;
                top: -3px;
            }
        }
        #googleBtn:hover {
            background-color: #c3412c;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & span {
            position: relative;
            // margin-left: 35px;
            text-align: center;
        }
    }

    &__orDelimiter {
        text-align: center;
        font-size: 14px;
        margin-top: 33px;
        color: #848484;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 135px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            left: 0;
            top: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            width: 135px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            right: 0;
            top: 50%;
        }
    }

    &__input {
    }
    &__input:first-of-type {
        margin-top: 18px;
    }

    &__comfirm {
        background-color: #3cb878;
        margin-top: 28px;
    }
    &__comfirm:hover {
        background-color: rgb(80, 149, 100);
    }
}

.button {
    min-height: 46px;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
}
.text {
    &_input {
        // border-color: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        min-height: 46px;
        padding-left: 20px;
        opacity: 0.5;
    }
    &_input:focus {
        opacity: 1;
        color: black;
        box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.4);
    }
}
.check {
    &_input {
        margin-top: 22px;
        input {
            min-width: 16px;
            min-height: 16px;
        }
        .checkmark {
            font-size: 14px;
            text-align: center;
        }
    }
}

// #terms ~ label::before {
#terms {
    opacity: 0;
}
#terms ~ label::before {
    content: "\2714";
    text-align: center;
    color: white;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    margin-right: 10px;
    display: inline-block;
}
#terms:checked ~ label::before {
    color: green;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
